@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,600,600i,700,700i,800,900,900i&display=swap");
body {
    font-family: "Muli", sans-serif;
    background-image: linear-gradient(rgba(51, 51, 51, 77%), rgba(51, 51, 51, 77%)), url("/images/background.svg");
    background-attachment: fixed;
    background-position: center center;

    @media (max-width: 992px) {
        min-height: 100vw;
    }
}

.header,
.footer {
    position: fixed;

    @media (max-width: 992px) {
        display: none;
    }
}

.header {
    right: -61px;
    top: -29px;
}

.footer {
    left: -54px;
    bottom: -34px;
}
header {
    padding: 5em;

    @media (max-width: 992px) {
        padding: 1em;
    }
}
section {
    padding-top: 6em;
    @media (max-width: 1366px) {
        padding-top: 1em;
    }
    h1 {
        font-weight: 700;
        color: #fff;
        font-size: 49px;

        @media (max-width: 992px) {
            font-size: 30px;
        }
    }

    p {
        color: #fff;
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 1.64px;
        padding-top: 10px;

        @media (max-width: 992px) {
            font-size: 12px;
        }
    }

    a {
        font-size: 23px !important;
        background: #6bdea0 !important;
        width: 41%;
        padding: 16px 4px 16px 4px !important;
        color: #fff !important;
        font-weight: 700;
        margin-top: 1em;
        border-radius: 50em !important;
        border: 2px solid transparent !important;

        img {
            margin-right: 18px;
            width: 32px;

            @media (max-width: 992px) {
                width: 30px;
                margin-right: 12px;
            }
        }

        @media (max-width: 320px) {
            width: 100% !important;
        }
        @media (max-width: 768px) {
            width: 254px !important;
        }
        @media (max-width: 1200px) {
            margin-top: -28px !important;
            font-size: 12px !important;
        }
        @media (max-width: 1366px) {
            margin-top: -48px;
            font-size: 16px;
            padding: 13px 16px 13px 16px !important;
            width: 50%;
        }

        &:hover {
            background: none !important;
            border: 2px solid #6bdea0 !important;
            transition: 0.5s ease;
        }
    }
}

footer {
    width: 100%;
    bottom: 10px;
    padding-top: 20px;
    position: absolute;

    hr {
        border-style: dashed;
        border-color: #fff;
    }

    .nav-item {
        p {
            padding-top: 24px;
            font-size: 17px;
            font-weight: 100;
            letter-spacing: 1;

            @media (max-width: 992px) {
                font-size: 13px;
            }
        }

        .nav-link {
            color: #fff;
            padding-right: 29px !important;

            @media (max-width: 992px) {
                padding-right: 15px !important;
            }

            img {
                height: 25px;
                width: 25px;
            }
        }
    }

    @media (max-width: 992px) {
        .flex-row {
            flex-direction: unset !important;
        }
        .col-sm-12 {
            justify-content: center;
            display: flex !important;
        }

        .justify-content-end {
            justify-content: center !important;

            img {
                width: 150px;
            }
        }
    }
}
